# Environments
.env
.venv
env/
venv/
ENV/

# Project Specific
embeddings/
data/images/
scratch/
training_checkpoint.json
.kali_history/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
