torch==2.2.1
transformers==4.38.2
faiss-cpu==1.8.0
streamlit==1.32.2
python-docx==0.8.11
Pillow==10.2.0
numpy==1.26.4
kagglehub==0.2.2
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
lxml==5.1.0
groq
duckduckgo-search
googlesearch-python
beautifulsoup4
trafilatura
PyPDF2